---
import Page from '../components/Page.astro';
---

<Page>
	<h1>hey, I'm arrow</h1>
	<p>
		This is my long overdue website. I'm not a super interesting person, but here's some stuff about me:
	</p>
	<p>
		I like reinventing the wheel 15 times a day as much as the next person.
	</p>
	<p>
		Right now, I'm into backend and systems programming (+ WASM and a hint of Assembly) cuz it's... well, interesting.
	</p>
	<p>
		Currently, I'm just trying to make quality products at <a href="https://tundras.social" target="_blank">Tundras</a>.
	</p>
	<h3>
		Contact
	</h3>
	<p>
		You can contact me via my email. I read all (or try to) of them, but please don't just abuse this, only contact me if it's something important:
		<ul>
			<li>arrow(at)arrowtsx(dot)dev</li>
		</ul>
		Nonexistent due to my own laziness. (and as I'm writing this, all of my VPS's are undergoing huge migration)
	</p>
</Page>
